[submodule "packages/RiyekoMenu"]
	path = packages/RiyekoMenu
	url = https://github.com/HeraKumi/RiyekoMenu
[submodule "packages/RiyekoBot"]
	path = packages/RiyekoBot
	url = https://github.com/HeraKumi/RiyekoBot
[submodule "packages/RiyekoWeb"]
	path = packages/RiyekoWeb
	url = https://github.com/HeraKumi/RiyekoWeb
[submodule "packages/void-packages"]
	path = packages/void-packages
	url = https://github.com/void-linux/void-packages