.conan
.cache
.config/discord
.config/obs-studio
.config/mpd
.config/BetterDiscord
.config/pavucontrol.ini
.config/nvim
.vim
.tmux
.tmux.conf
.mono
Documents
node_modules
package.json
package-lock.json
.serverauth.*
.wget-*
.npm
.vscode-oss
.zcompdump-Hoshiko-5.7.1
.zsh_history
.zshrc
Downloads
.pki
.oh-my-zsh
.gnupg
.gitkraken
.dbus
.Xauthority
.local
.mozilla
.var
.config/Code - OSS
.config/configstore
.config/dconf
.config/gconf
.config/gtk-3.0
.config/git
.config/htop
.config/mimeapps.list
.config/nvim
.config/pulse
.xdg
.gitconfig
