.cache
.config/discord
.npm
.vscode-oss
.zcompdump-Hoshiko-5.7.1
.zsh_history
.zshrc
Downloads
.pki
.oh-my-zsh
.gnupg
.gitkraken
.dbus
.Xauthority
.local
.mozilla
.var
.config/Code - OSS
.config/configstore
.config/dconf
.config/gconf
.config/gtk-3.0
.config/git
.config/htop
.config/mimeapps.list
.config/nvim
.config/pulse
.xdg
.gitconfig
