! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! -----------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


xscreensaver.fade:   false
xscreensaver.unfade: false

! ===== urxvt =====
URxvt.font: xft:Roboto Mono:style=Regular:size=8

URxvt.internalBorder:	22
URxvt.geometry: 	72x18
URxvt*termName:         rxvt-256color
URxvt*scrollBar:        false
URxvt*scrollBar_right:  false
URxvt.perl-ext-common:  default,clipboard,url-select,keyboard-select
URxvt.copyCommand:      xclip -i -selection clipboard
URxvt.pasteCommand:     xclip -o -selection clipboard
URxvt.keysym.M-c:       perl:clipboard:copy
URxvt.keysym.M-v:       perl:clipboard:paste
URxvt.keysym.M-C-v:     perl:clipboard:paste_escaped
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.Shift-Up:	command:\033]720;1\007
URxvt.keysym.Shift-Down:command:\033]721;1\007
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt.keysym.M-u:       perl:url-select:select_next
URxvt.urlLauncher:      brave
URxvt.underlineURLs:    true
URxvt.urlButton:        1
URxvt*buffered:         false          
URxvt.urgentOnBell: 	True
URxvt.bidi.enabled:	1

! =================
URxvt*background: #1b1b1b
URxvt*foreground: #cccaca
     
!Black
URxvt*color0: #222222
URxvt*color8: #5b595a

!Red
URxvt*color1: #664742
URxvt*color9: #664742

!Green
URxvt*color2: #A5AF86
URxvt*color10: #A5AF86

!Yellow
URxvt*color3: #F7E7BD
URxvt*color11: #F7E7BD

!Blue
URxvt*color4: #6e686f
URxvt*color12: #6e686f

!Magenta
URxvt*color5: #966E6E
URxvt*color13: #B09A91

!Cyan
URxvt*color6: #849492
URxvt*color14: #849492

!White
URxvt*color7: #a49c9c
URxvt*color15: #e9e6e6
